//@import "keno_mixins";

$font-size-header: 5rem;
$font-size-body: 3rem;
$color: rgba(245, 245, 245, 0.8);
$color-arrows: rgba(245, 245, 245, 0.6);
$color-arrows-hover: rgba(245, 245, 245, 0.7);
$color-current: rgba(245, 245, 245, 1);
$background-color: rgba(0, 0, 0, 0.8);

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/////GRID///////
///////////////


.content-wrapper {
  height: 100%;
  background-color: $background-color;
}

.wrapper {
  height: 100%;
  color: $color;

  .date {
    width: 100%;
    height: 20%;
    font-size: $font-size-header;
    background-image:
            radial-gradient(ellipse, rgba(0,0,0,0.6), rgba(60,60,60,0.8));

  }

  .calendar-header {
    display: grid;
    width: 100%;
    height: 10%;
    margin: 0 auto;
    grid-template-columns: repeat(7,1fr);
    grid-auto-columns: minmax(auto,162px);

    .calendar-item-header {
      display: grid;
      font-size: $font-size-body;
      justify-content: center;
      align-items: center;
    }
  }
  .calendar-body {
    width: 100%;
    height: 55%;
    grid-auto-rows: 60px;
    display: grid;
    box-sizing: content-box;
    grid-template-columns: repeat(7,1fr);
    grid-auto-columns: minmax(auto,162px);

    .calendar-item {

      border: 2px solid transparent;
      font-size: $font-size-body;
      grid-gap: 1rem;

    }

    .highlight {

      font-weight: bold;
      border-radius: 74%;
      color: $color-current;
      background-image: radial-gradient(circle, rgba(0,0,0,1), rgba(110,110,110,0.9));
    }
  }
.calendar-header :last-child,
.calendar-body :nth-child(7n) {
  font-weight:bolder;
  color: rgba(180,180,180,0.6);
}

.calendar-header :first-child,
.calendar-body :first-child,
.calendar-body :nth-child(7n + 1) {
  font-weight:bolder;
  color: rgba(160,160,160,1);
}
  .month-switch {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;



        .arrow-right {
          width: 0;
          height: 0;
          border-top: 40px solid transparent;
          border-bottom: 40px solid transparent;
          border-left: 130px solid $color-arrows;
        }

        .arrow-left {
          width: 0;
          height: 0;
          border-top: 40px solid transparent;
          border-bottom: 40px solid transparent;
          border-right: 130px solid $color-arrows;

        }
    .arrow-right:hover,
    .arrow-left:hover{
      transform: scale(1.1);
      transition: all 0.5s ease;
    }
    .arrow-right:hover {
      border-right-color: $color-arrows-hover;
    }
    .arrow-left:hover {
      border-left-color: $color-arrows-hover;
    }

  }
  .arrow-right, .arrow-left, .calendar-item {
    cursor: pointer;
  }
  .month-container {

    font-size: $font-size-body;
  }
}

.date, .calendar-item {
  display: grid;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1024px) {

  .wrapper {

    .date {
      height: 30%;
      font-size: $font-size-header;
    }
    .calendar-header {
      height: 13%;

      .calendar-item-header {

        font-size: $font-size-body - 1;
      }
    }
    .calendar-body {
      width: 100%;
      height: 45%;
      grid-auto-rows: 55px;

      .calendar-item {

        font-size: $font-size-body - 1;

      }
    }
    .month-switch {

      .arrow-right {

        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
      }

      .arrow-left {
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;

      }

    }
  }
}


@media only screen and (max-width: 823px) {

  .wrapper {

    .date {
      height: 18%;
      font-size: $font-size-header - 3;
    }
    .calendar-header {
      width: 85%;
      .calendar-item-header {
        font-size: $font-size-body - 1.5;
      }
    }
    .calendar-body {
      width: 85%;
      height: 53%;
      margin: 0 auto;
      grid-auto-rows: 35px;

      .calendar-item {

        font-size: $font-size-body - 2;

      }
    }
    .month-switch {

      grid-auto-rows: 50px;

      .arrow-right {

        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
      }

      .arrow-left {
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;

      }
      .month-container {

        font-size: $font-size-body - 1;
      }

    }
  }
}

@media only screen and (max-width: 812px) {

  .wrapper {

    .date {
      height: 20%;
      font-size: $font-size-header - 3;
    }
    .calendar-header {
      width: 80%;
      .calendar-item-header {
        font-size: $font-size-body - 1;
      }
    }
    .calendar-body {
      width: 80%;
      margin: 0 auto;
      height: 50%;
      grid-auto-rows: 31px;
      .calendar-item {

        font-size: $font-size-body - 1.5;

      }

      .highlight {

        border-radius: 60%;
      }
    }
    .month-switch {

      grid-auto-rows: 50px;

      .arrow-right {

        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
      }

      .arrow-left {
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;

      }
      .month-container {

        font-size: $font-size-body - 1.5;
      }

    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper .calendar-body {

    height: 50%;
  }
}

@media only screen and (max-width: 600px) {

  .wrapper {

    .date {
      font-size: $font-size-header - 2;
    }

    .calendar-body {
      .calendar-item {

        font-size: $font-size-body - 1;

      }

      .highlight {

        border-radius: 60%;
      }
    }
  }
}

@media only screen and (max-width: 568px) {

  .wrapper {

    .date {
      height: 15%;
      font-size: $font-size-header - 3.5;
    }
    .calendar-header {
      width: 80%;
    }
    .calendar-body {
      height: 50%;
      grid-auto-rows: 25px;

      .calendar-item {

        font-size: $font-size-body - 2;

      }
    }
    .month-switch {

      grid-auto-rows: 40px;
    }
  }
}

@media only screen and (max-width: 414px) {

  .wrapper {
    .calendar-header {
      .calendar-item-header {
        font-size: $font-size-body - 1.5;
      }
    }

    .month-switch {

      .arrow-right {

        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 60px solid $color-arrows;
      }

      .arrow-left {
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-right: 60px solid $color-arrows;

      }
      .month-container{
        font-size: $font-size-body - 2;
      }

    }
  }
}

@media only screen and (max-width: 360px) {

  .wrapper {
    .calendar-body {
      .calendar-item {

        font-size: $font-size-body - 2;

      }
    }
    .month-switch .month-container{
      font-size: $font-size-body - 2.2;
    }
  }
}

/////FLEXBOX///////
///////////////
//
//.content-wrapper {
//
//  height: 100%;
//  background-color: $background-color;
//}
//
//.wrapper {
//  display: flex;
//  flex-flow: row wrap;
//  height: 100%;
//  color: $color;
//
//  .date {
//    width: 100%;
//    height: 30%;
//    font-size: $font-size-header;
//    background-image: radial-gradient(ellipse, rgba(0, 0, 0, 0.6), rgba(60, 60, 60, 0.8));
//  }
//
//  .calendar-header {
//    width: 91%;
//    margin: 0 auto;
//    display: flex;
//    flex-flow: row wrap;
//    justify-content: flex-start;
//    align-content: flex-start;
//    box-sizing: content-box;
//
//    .calendar-item-header {
//      display: flex;
//      border: 2px solid transparent;
//      justify-content: center;
//      width: 13.9%;
//      font-size: 3rem;
//    }
//  }
//
//  .calendar-body {
//    width: 91%;
//    height: 28%;
//    margin: 4% auto;
//    display: flex;
//    flex-flow: row wrap;
//    justify-content: flex-start;
//    align-content: flex-start;
//    box-sizing: content-box;
//
//    .calendar-item {
//
//      border: 2px solid transparent;
//      width: 13.9%;
//      font-size: $font-size-body;
//
//    }
//
//    .highlight {
//
//      font-weight: bold;
//      border-radius: 74%;
//      color: $color-current;
//      background-image: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(110, 110, 110, 0.9));
//    }
//  }
//
//  .calendar-header :last-child,
//  .calendar-body :nth-child(7n) {
//    font-weight: bolder;
//    color: rgba(150, 150, 150, 0.6);
//  }
//
//  .calendar-header :first-child,
//  .calendar-body :first-child,
//  .calendar-body :nth-child(7n + 1) {
//    font-weight: bolder;
//    color: rgba(200, 200, 200, 1);
//  }
//
//  .month-switch {
//    display: inline-flex;
//    justify-content: space-around;
//    align-items: center;
//    width: 100%;
//    height: 10%;
//
//    .arrow-right {
//      width: 0;
//      height: 0;
//      border-top: 40px solid transparent;
//      border-bottom: 40px solid transparent;
//      border-left: 130px solid $color-arrows;
//    }
//
//    .arrow-left {
//      width: 0;
//      height: 0;
//      border-top: 40px solid transparent;
//      border-bottom: 40px solid transparent;
//      border-right: 130px solid $color-arrows;
//
//    }
//    .arrow-right:hover,
//    .arrow-left:hover {
//      transform: scale(1.1);
//      transition: all 0.5s ease;
//    }
//    .arrow-right:hover {
//      border-right-color: $color-arrows-hover;
//    }
//    .arrow-left:hover {
//      border-left-color: $color-arrows-hover;
//    }
//
//  }
//  .arrow-right, .arrow-left, .calendar-item {
//    cursor: pointer;
//  }
//  .month-container {
//    font-size: $font-size-body;
//  }
//}
//
//.date, .calendar-item {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//
//@media only screen and (max-width: 1137px) {
//  .wrapper {
//    .calendar-header {
//      .calendar-item-header {
//        width: 13.8%;
//      }
//    }
//
//    .calendar-body {
//      .calendar-item {
//
//        width: 13.8%;
//      }
//    }
//  }
//}
//
//@media only screen and (max-width: 1024px) {
//  .wrapper {
//    .date {
//      height: 20%;
//    }
//    .calendar-header {
//      .calendar-item-header {
//        width: 13.8%;
//      }
//    }
//
//    .calendar-body {
//
//      height: 40%;
//      margin: 0% auto;
//      .calendar-item {
//        font-size: $font-size-body - 1;
//      }
//    }
//  }
//}
//
//@media only screen and (max-width: 904px) {
//  .wrapper {
//    .calendar-header {
//      .calendar-item-header {
//        width: 13.7%;
//      }
//    }
//    .calendar-body {
//      .calendar-item {
//
//        width: 13.7%;
//      }
//    }
//  }
//}
//
//@media only screen and (max-width: 826px) {
//  .wrapper {
//    .calendar-header {
//      .calendar-item-header {
//        width: 13.6%;
//        font-size: $font-size-body - 1;
//      }
//    }
//    .date {
//      font-size: $font-size-header - 2;
//    }
//    .calendar-body {
//      height: 45%;
//      margin: 0 auto;
//
//      .calendar-item {
//        font-size: $font-size-body - 1.5;
//        width: 13.6%;
//      }
//    }
//    .month-switch {
//
//      .arrow-left {
//        border-top: 15px solid transparent;
//        border-bottom: 15px solid transparent;
//        border-right-width: 110px;
//      }
//
//      .arrow-right {
//        border-top: 15px solid transparent;
//        border-bottom: 15px solid transparent;
//        border-left-width: 110px;
//      }
//      .month-container {
//        font-size: $font-size-body - 1;
//      }
//    }
//  }
//}
//
//@media only screen and (max-width: 731px) {
//
//  .wrapper {
//
//    .calendar-body {
//      height: 44%;
//      margin: 0 auto;
//      .calendar-item {
//
//        font-size: $font-size-body - 1.5;
//
//      }
//
//      .highlight {
//
//        border-radius: 60%;
//      }
//    }
//    .month-switch {
//
//      .month-container {
//        font-size: $font-size-body - 1.5;
//      }
//    }
//  }
//}
//
//@media only screen and (max-width: 640px) {
//
//  .wrapper {
//    .calendar-header {
//      .calendar-item-header {
//        width: 13.5%;
//      }
//    }
//    .date {
//      height: 20%;
//      font-size: $font-size-header - 2;
//    }
//
//    .calendar-body {
//
//      height: 53%;
//      margin: 0 auto;
//      .calendar-item {
//
//        width: 13.5%;
//        font-size: $font-size-body - 2;
//
//      }
//
//      .highlight {
//
//        border-radius: 60%;
//      }
//    }
//
//  }
//}
//
//@media only screen and (max-width: 600px) {
//
//  .wrapper {
//
//    .date {
//      font-size: $font-size-header - 2;
//    }
//
//    .calendar-body {
//      .calendar-item {
//
//        font-size: $font-size-body - 1;
//
//      }
//
//      .highlight {
//
//        border-radius: 60%;
//      }
//    }
//
//  }
//}
//
//@media only screen and (max-width: 568px) {
//  .wrapper {
//    .calendar-header {
//      .calendar-item-header {
//        width: 13.4%;
//      }
//    }
//    .calendar-body {
//      height: 45%;
//      .calendar-item {
//        font-size: $font-size-body - 2;
//        width: 13.4%;
//      }
//    }
//  }
//}
//
//@media only screen and (max-width: 495px) {
//  .wrapper {
//    .calendar-header {
//      .calendar-item-header {
//        width: 13.2%;
//      }
//    }
//    .date {
//      height: 25%;
//    }
//    .calendar-body {
//      height: 45%;
//      .calendar-item {
//
//        width: 13.2%;
//      }
//    }
//    .month-switch {
//
//      .arrow-right {
//
//        border-right-width: 40px;
//      }
//
//      .arrow-left {
//
//        border-left-width: 40px;
//      }
//
//    }
//  }
//}
//
//@media only screen and (max-width: 414px) {
//  .wrapper {
//    .calendar-header {
//      .calendar-item-header {
//      }
//    }
//    .month-switch .month-container {
//      font-size: $font-size-body - 1.8;
//    }
//  }
//}
//
//@media only screen and (max-width: 404px) {
//  .wrapper {
//    .calendar-header {
//      .calendar-item-header {
//        font-size: $font-size-body - 1.5;
//        width: 13%;
//      }
//
//    }
//    .date {
//      height: 20%;
//    }
//    .calendar-body {
//      .calendar-item {
//
//        width: 13%;
//      }
//    }
//  }
//}
//
//@media only screen and (max-width: 360px) {
//
//  .wrapper {
//    .calendar-header {
//      width: 100%;
//      .calendar-item-header {
//        width: 12.9%;
//      }
//    }
//    .date {
//      height: 15%;
//    }
//    .calendar-body {
//      width: 100%;
//      height: 50%;
//      margin: 10% auto;
//      .calendar-item {
//
//        font-size: $font-size-body - 1.5;
//
//      }
//    }
//    .month-switch .month-container {
//      font-size: $font-size-body - 2;
//    }
//  }
//}
//
//@media only screen and (max-width: 340px) {
//  .wrapper {
//
//    .month-switch .month-container {
//      font-size: $font-size-body - 2.1;
//    }
//  }
//
//  @media only screen and (max-width: 320px) {
//
//    .wrapper {
//      .calendar-header {
//        width: 100%;
//
//        .calendar-item-header {
//          width: 12.8%;
//          font-size: $font-size-body - 1.5;
//        }
//      }
//      .date {
//        height: 15%;
//      }
//
//      .calendar-body {
//        .calendar-item {
//
//          font-size: $font-size-body - 2;
//
//        }
//      }
//
//      .month-switch .month-container {
//        font-size: $font-size-body - 2.2;
//      }
//    }
//  }
//}
//

.modal {
  transition: all 0.3s ease-in-out 1ms;
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color:rgba(0,0,0,0.5) ;
  transition-timing-function: linear;
  //pointer-events: none;
  opacity: 0;
  visibility: hidden;

  .modal-content{
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 70%;
    border-radius: 15px;




    .modal-header {
      display: grid;
      grid-template-columns: 97% 3%;
      background: #7d7e7d; /* Old browsers */
      background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
      border-radius:15px 15px 0 0;
      padding: 15px;
      color: #fff;
      justify-content: center;
      align-items: center;
      cursor: default;

    }
    .modal-body {

      padding: 30px 15px;

      textarea {
        width: 100%;
        height: 200px;
        border: 1px solid #a0a0a0;
        background-color: transparent;
        border-radius: 10px;
        padding: 20px;
        -webkit-box-shadow: 3px 10px 15px 0px rgba(0,0,0,0.69);
        -moz-box-shadow: 3px 10px 15px 0px rgba(0,0,0,0.69);
        box-shadow: 3px 10px 15px 0px rgba(0,0,0,0.69);
        outline: none;
      }
      #hour {
        cursor: default;
      }
    }


    .modal-footer {
      display: grid;
      width: 100%;
      height:50%;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
      background: #0e0e0e; /* Old browsers */
      background: -moz-linear-gradient(top, #0e0e0e 0%, #7d7e7d 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #0e0e0e 0%,#7d7e7d 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #0e0e0e 0%,#7d7e7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
      border-radius: 0 0 15px 15px;
      padding: 10px;
      color: #fff;
      text-align: center;
      .modal-arrow-right {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 50px solid $color-arrows;
      }

      .modal-arrow-left {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 50px solid $color-arrows;

      }
      .modal-arrow-right,
      .modal-arrow-left {
        cursor: pointer;
      }
    }
    .modal-arrow-right:hover,
    .modal-arrow-left:hover {
      transform: scale(1.1);
      transition: all 0.5s ease;
    }
    .modal-header > h2 {
      margin:0;
      text-align: center;
      font-size: $font-size-body - 2;
    }
    .closeBtn {
      color: #fff;
      float: right;
      font-size:30px;
    }

    .closeBtn:hover,
    .closeBtn:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;

    }
  }
}
.visible {
  opacity: 1;
  visibility: visible;
  //z-index: 1;
}

//@keyframes modalopen{
//from {opacity: 0}
//to {opacity: 1}
//}